---
layout: default
title: Bookmarks
description: Bookmarks of things I've found around the web.
category: bookmarks
permalink: /bookmarks/
---

<header class="page__header">
  <h1>{{ page.title }}</h1>
  <p>Interesting things I've found around the web.</p>
</header>

{% for bookmark in site.data.bookmarks offset: 1 %}
  <article>
    <p class="post-title"><a href="{{ bookmark.link }}">{{ bookmark.title }}</a></p>
    {% if bookmark.quote %}<blockquote>{{ bookmark.quote | markdownify }}</blockquote>{% endif %}
  </article>
{% endfor %}
