---
title: Terms of Service
headline: Terms of Service
permalink: /terms-of-service/
---
<article class="page{% if page.featured-image %} has-post-thumbnail{% endif %} entry" itemscope itemtype="http://schema.org/CreativeWork">

<header class="entry-header">
  <h1 class="entry-title" itemprop="headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
  {% if page.sub-heading %}<p class="entry-meta">{{ page.sub-heading }}</p>{% endif %}
</header>

<div class="section-divider"></div>

<div class="entry-content" itemprop="text">
  <p>You want to assume you're being scammed and/or ripped-off at all times while on this website, that you have no privacy while here and that the authors, sponsors or anyone affiliated with this site are not responsible in any way, for anything.</p>

  <p>For normal people the above should suffice, for lawyers keep reading...</p>

  <p>The author and publisher of bradonomics.com make no representation or warranties with respect to the accuracy, applicability, fitness or completeness of the contents of bradonomics.com. <strong>The information contained in bradonomics.com is strictly for educational purposes. Therefore, if you wish to apply ideas contained in bradonomics.com, you are taking full responsibility for your actions.</strong></p>

  <p>The author and publisher disclaim any warranties (express or implied), merchantability, or fitness for any particular purpose. The author and publisher shall in no event be held liable to any party for any direct, indirect, punitive, special, incidental or other consequential damages arising directly or indirectly from any use of information or materials on bradonomics.com, which is provided "as is" and without warranties.</p>

  <p>As always, the advice of a competent medical, legal, tax, accounting or other professional should be sought.</p>

  <p>The author and publisher do not warrant the performance, effectiveness or applicability of any sites listed or linked to in bradonomics.com.</p>

  <p>All links are for information purposes only and are not warranted for content, accuracy or any other implied or explicit purpose.</p>
</div>

</article>