# Site Settings
title: Bradonomics | The homepage of Brad West
description: Web Developer • Brazilian Jiu-Jitsu Nerd • Permaculture Enthusiast • Open Source Advocate • Digital 49er • Marine Corps Veteran
url: https://bradonomics.com

# Jekyll Configuration
encoding: UTF-8
permalink: /:title/

# Markdown Processing
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

# Sass/SCSS settings
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Collections
collections:
  portfolio:
    output: true

# Collection Defaults
defaults:
- scope:
    type: posts
  values:
    layout: post
- scope:
    path: notes/_posts
    type: posts
  values:
    layout: note
- scope:
    type: pages
  values:
    layout: page
- scope:
    type: portfolio
  values:
    layout: portfolio
    permalink: /portfolio/:title/

# File Handling
include: [_pages]
exclude: [lib, config.rb, .sass-cache, Capfile, config, log, Rakefile, Rakefile.rb, tmp, Gemfile, Gemfile.lock, README.md, LICENSE.md, node_modules, gulpfile.js, package.json, package-lock.json]

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   permalinks:
#     categories: '/category/:name/'

# HTML Compression
# - http://jch.penibelst.de/
# compress_html:
#   clippings: all
#   ignore:
#     envs: development
