<aside itemscope itemtype="http://schema.org/Book">

  <div class="book-image">
    <a href="{{ page.amazon }}"><img src="{{ page.book.cover_image_path }}"></a>
  </div>

  <div class="book-info">

    <p class="title" itemprop="name">{{ page.book.title }}</p>

    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
      <p><em>by <span itemprop="name">{{ page.book.author }}</span></em></p>
    </div>

    <div class="buy-info">
      <p>Buy the book</p>
      <a href="{{ page.amazon }}"><img src="{{ site.url }}/images/amazon.jpg"></a>
    </div>

  </div>

</aside>