<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}{% unless page.url == '/' %} | Brad West{% endunless %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip | truncate: 160 }}{% endif %}">

  <link rel="alternate" type="application/rss+xml" href="{{ "/feed.xml" | absolute_url }}">

  {% if page.code %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700|Oxygen+Mono">
  {% else %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700">
  {% endif %}

  {% if page.url contains '/portfolio/' %}
    <link rel="stylesheet" href="{{ "/css/portfolio.css" | absolute_url }}">
  {% elsif page.layout == 'archive' or page.url == '/blog/' %}
    <link rel="stylesheet" href="{{ "/css/archive.css" | absolute_url }}">
  {% elsif page.code %}
    <link rel="stylesheet" href="{{ "/css/code.css" | absolute_url }}">
  {% else %}
    <link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">
  {% endif %}

</head>
