.archive-year {
  margin-top: 3rem;
  font-size: 1.8em;
}

.archive-date {
  font-size: .8em;
  @media (min-width: 50em) {
    float: right;
    font-size: inherit;
  }
}

.archive-title {
  margin-top: 0;
  font-size: 1.3em;
}
