.archive {
  max-width: 800px;
  margin-right: auto;
  margin-bottom: $spacing-unit * 1.5;
  margin-left: auto;

  h2 {
    display: inline-block;
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: normal;

    &:hover {
      text-decoration: underline;
    }

  }

  h3 {
    font-size: $base-font-size * 1.6;
  }

  .archive-year {
    text-align: center;
    @media (min-width: 672px) {
      text-align: left;
    }
  }

  .archive-item {
    margin-bottom: 1em;
    overflow: auto;
    @media (min-width: 672px) {
      margin-bottom: .5em;
    }
  }

  .archive-item + .archive-year {
    margin-top: 2em;
  }

  .archive-date {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1;
    @media (min-width: 672px) {
      float: right;
      margin-left: 1em;
      font-size: inherit;
      line-height: normal;
    }
  }

}
