.canon-contents {
  position: relative;
  width: 100%;
  @media (min-width: 37.5em) {
    flex: 0 0 calc((100% - 1.6em) / 2);
    max-width: calc((100% - 1.6em) / 2);
  }

  + .canon-contents {
    margin-bottom: 2.4em;
  }

}

.page article p,
.page article ol,
.page article ul,
.post article p,
.post article ul,
.post article ol {
  margin: 0 0 1.4em;
}

.note {
  margin-top: 3em;
}

.entry-header,
.page-header {
  margin: 3em 0;
  text-align: center;
}

.note-header {
  line-height: .3em;
  border-bottom: .05em solid $border-color;
}

blockquote {
  position: relative;
  margin: 1em 0;
  padding: 0 2em;
  border-left: .05em solid $primary-color;

  &:before {
    position: absolute;
    top: -.2em;
    left: .3em;
    font-size: 2em;
    content: '\201C';
  }

  .note & {
    border: 0;
  }
}

.cite {
  text-align: right;
}

.call-out {
  position: relative;
  margin: 1em 0;
  padding: 0 1em;
  border-left: .05em solid $primary-color;
}

hr {
  width: 5em;
  height: .05em;
  margin: 2em auto;
  background-color: $border-color;
  border: 0;
}

.footnotes {
  margin-top: 3rem;

  &:before {
    font-size: 1.3em;
    font-weight: bold;
    content: 'Footnotes';
  }
}

.entry-meta {
  font-size: .8em;

  .note & {
    font-size: .65em;
  }
}

.note-meta {
  padding-right: 1em;
  font-size: .65em;
  background-color: #fff;
}

.after-post-title {
  font-family: $font-header;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.after-post {
  text-align: center;
}
