article {
  position: relative;
  padding-bottom: 1em;

  img {
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
    margin-bottom: 1em;
  }

}

.entry-title {
  margin-bottom: 1em;
  text-align: center;
}

.portfolio .entry-header {
  margin-bottom: 3em;
}

audio {
  margin-bottom: 1em;
}

.entry-meta {
  font-size: .8em;
  text-align: center;
  color: #777;

  span {
    display: block;
  }

  a {
    color: #777;
  }

}

// .portfolio-meta {
//   font-size: .8em;
//   color: #777;
//
//   span {
//     display: block;
//   }
//
// }

.entry-category a {
  text-transform: capitalize;
}

.footnotes:before {
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #333;
  content: 'Footnotes:';
}

.after-post-title,
.next {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -.025em;
  text-align: center;
  color: #333;
}

.after-post {
  text-align: center;
}
