.entry-header {
  text-align: center;
}

blockquote {
  position: relative;
  margin: 1em 0;
  padding: 0 2em;
  border-left: .8em solid $border-color;

  &:before {
    position: absolute;
    top: -.2em;
    left: .3em;
    font-size: 2em;
    content: '\201C';
  }

}

.call-out {
  position: relative;
  margin: 1em 0;
  padding: 0 1em;
  border-left: .8em solid $border-color;
}

hr {
  width: 5em;
  height: .05em;
  margin: 2em auto;
  background-color: $border-color;
  border: 0;
}

.entry-meta {
  font-size: .8em;
}

.after-post-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.after-post {
  text-align: center;
}
