*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-body;
  font-size: 1.25em;
  line-height: 1.65em;
  color: $text-color;
}

.content {
  max-width: 32.5em;
  margin: 0 auto;
  padding: 0 .8em;
}

%row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  @extend %row;
}

.one-half {
  position: relative;
  width: 100%;
  @media (min-width: 50em) {
    flex: 0 0 calc((100% - 32px) / 2);
    max-width: calc((100% - 32px) / 2);
  }
}

h1 {
  font-family: $font-header;
  font-size: 2em;
}

h2 {
  margin-top: 3rem;
  font-family: $font-header;
}

h3 {
  font-family: $font-header;
}

a {
  color: inherit;
  text-decoration-color: $primary-color;

  &:hover {
    color: $primary-color;
  }

}

.text-center {
  text-align: center;
}
