*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 32.5em;
  margin: 0 auto;
  padding: 0 15px;
  font-family: $font-stack;
  font-size: 1.25em;
  line-height: 1.625;
  color: $text-color;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 3rem;
}

a {
  color: inherit;
  text-decoration-color: $primary-color;

  &:hover {
    color: $primary-color;
  }

}
