* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em 1.5em 0;
  font-family: $font-family;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  @media (min-width: 768px) {
    font-size: 1.313em;
  }

}

p {
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -.025em;
  color: #333;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

ol + h1,
ol + h2,
ol + h3,
p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3 {
  margin-top: 1.5em;
}

/* Emphasis */
em,
strong {
  padding-right: .1em;
  padding-left: .1em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

/* Lists */
ol,
ul {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;
}

.content li {
  margin-bottom: .25em;
}

ul ul {
  margin-top: .25em;
  margin-bottom: .5em;
}

hr {
  width: 100px;
  height: 1px;
  margin: 2em auto;
  border: 0;
  background-color: #eee;
}

blockquote {
  margin: 0 2em 1em 0;
  padding: 0 0 0 1.5em;
  border-left: .5em solid #e5e5e5;
  color: #999;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;
  color: #000;
  background: #ccc;
}

/* Tables
--------------------------------------------- */

table {
  width: 100%;
  margin-bottom: 40px;
  line-height: 2;
  border-collapse: collapse;
  border-spacing: 0;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
  padding: 6px 0;
	border-top: 1px solid #ddd;
}

th {
	font-weight: 400;
}
