*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 1.25rem;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-color: $background-color;
  line-height: 1.61803398875;
  color: $text-color;
  font-family: $font-body;
}

.main {
  display: block; // Fixes IE11 Bug
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 38rem;
  padding: 0 .8rem;

  .portfolio & {
    max-width: 120rem;
  }

}

a {
  text-decoration-color: $primary-color;
  color: inherit;

  &:hover {
    color: $primary-color;
  }

}

p,
ul,
ol,
figure {
  margin: 0 0 1.75rem;
}

hr {
  margin: 2rem auto;
  width: 5rem;
  height: .05rem;
  border: 0;
  background-color: $border-color;
}
