.book-image {
  margin-bottom: 12px;
  text-align: center;
  @media (min-width: 750px) {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  a {
    border: none;
  }

  img {
    max-width: 100%;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2);
  }

}

.book-info {
  text-align: center;
  @media (min-width: 750px) {
    display: inline-block;
    text-align: left;
  }

  .title {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
  }

}

.buy-info {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #c1c0aa;
  padding-top: 10px;
  color: #666;
  display: block;
  @media (min-width: 750px) {
    width: 300px;
    display: inline-block;
  }

  p {
    border-bottom: 1px solid #c1c0aa;
    padding-bottom: 8px;
  }

}
