@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: normal;
  src: local(''),
    url('/fonts/fira-sans-v11-latin-700.woff2') format('woff2'),
    url('/fonts/fira-sans-v11-latin-700.woff') format('woff');
  font-display: swap;
}
