.site-footer {
  margin-top: 3rem;
  padding: 0 2rem;
  font-size: .8rem;
  line-height: 1.2;
  @media (min-width: 37.5rem) {
    padding: 0 4rem;
  }

  hr {
    width: 100%;
    margin: 0;
    border: 0;
  }

  ul {
    @extend .row; // in utilities.scss
    margin: 5rem 0;
    padding: 0;
    list-style: none;
  }

  li {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
    @media (min-width: 37.5rem) {
      flex: 0 0 calc((100% - 5rem) / 2);
      max-width: calc((100% - 5rem) / 2);
    }
    @media (min-width: 60rem) {
      flex: 0 0 calc((100% - 17rem) / 4);
      max-width: calc((100% - 17rem) / 4);
      margin-bottom: 0;
    }

    &:nth-child(n+2) {
      @media (min-width: 37.5rem) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin: 1em 0 0;
    }

  }

  .section-title {
    margin: 0;
    font-family: $font-header;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .link {
    position: relative;
    padding-left: .6rem;

    &::before {
      position: absolute;
      top: .2rem;
      left: -.05rem;
      font-size: .9rem;
      content: '/';
    }

  }

  .bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.75rem;
    text-align: center;
    border-top: .05rem solid $border-color;
    @media (min-width: 30rem) {
      flex-direction: row;
    }
  }

}
