/* Grid
-------------------------------------------------- */
@media (min-width: 800px) {

  .equal-heights > *,
  .grid,
  [class*='grid-'] {
    display: flex;
    flex-wrap: wrap;
  }

  .grid > *,
  [class*='grid-'] > * {
    align-self: stretch;
  }

  .equal-heights > * > * {
    flex-grow: 1;
    align-self: stretch;
    width: 100%;
  }

  .five-sixths,
  .four-fifths,
  .four-sixths,
  .one-fifth,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fifths,
  .three-fourths,
  .three-sixths,
  .two-fifths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    float: left;
    margin-left: 1.5625%;
  }

  .one-half,
  .three-sixths,
  .two-fourths {
    width: 49.21875%;
  }

  .one-third,
  .two-sixths {
    width: 32.291666666667%;
  }

  .four-sixths,
  .two-thirds {
    width: 66.145833333333%;
  }

  .one-fourth {
    width: 23.828125%;
  }

  .three-fourths {
    width: 74.609375%;
  }

  .one-fifth {
    width: 18.75%;
  }

  .two-fifths {
    width: 39.0625%;
  }

  .three-fifths {
    width: 59.375%;
  }

  .four-fifths {
    width: 79.6875%;
  }

  .one-sixth {
    width: 15.364583333333%;
  }

  .five-sixths {
    width: 83.072916666667%;
  }

  .first {
    margin-left: 0;
    clear: both;
  }

  .only {
    float: none;
    margin: 0 auto;
    overflow: hidden;
  }

}
