.site-header {
  margin-top: 1em;
  padding: 0 .8em;
  text-align: center;
  @media (min-width: 42em) {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .site-title {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.625;
    @media (min-width: 42em) {
      margin: 0;
    }

    // a {
    //   display: inline-block;
    //   // width: 385px;
    //   width: 19.25em;
    //   // height: 105px;
    //   height: 5.25em;
    //   text-indent: -9999px;
    //   background-image: url('/images/bradonomics-banner.svg');
    //   background-repeat: no-repeat;
    //   background-position: 50%;
    //   background-size: cover;
    // }

  }

  a {
    font-weight: 700;
    text-decoration: none;
  }

  nav  {

    a {
      position: relative;
      margin-right: .5em;

      &:hover,
      &.active {
        color: $text-color;
        text-decoration: none;

        &:after {
          position: absolute;
          right: 0;
          bottom: -.2em;
          width: 100%;
          height: .2em;
          content: '';
          background-color: $primary-color;
          -webkit-transition: bottom .3s;
          transition: bottom .3s;
        }

      }

      &:last-child {
        margin-right: 0;
      }

      + a {
        margin-left: .5em;
      }

    }

  }

}

.intro {
  // @extend %row;
  width: 100%;
  max-width: 32.5em;
  margin: 3em auto 0;
  padding: 0 .8em;
}
