.site-header {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0 .8rem;
  text-align: center;
  @include breakpoint(lg) {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .home & {
    margin-bottom: 0;
  }

  .site-title {
    margin-top: 3rem;
    margin-bottom: 0;
    // font-family: $font-body;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.625;
    text-decoration: none;
  }

  nav  {

    a {
      position: relative;
      margin-right: .6rem;
      font-family: $font-body;
      font-weight: 700;
      text-decoration: none;

      &:hover,
      &.active {
        color: $text-color;
        text-decoration: none;

        &:after {
          position: absolute;
          right: 0;
          bottom: -.2em;
          width: 100%;
          height: .2em;
          content: '';
          background-color: $primary-color;
          -webkit-transition: bottom .3s;
          transition: bottom .3s;
        }

      }

      &:last-child {
        margin-right: 0;
      }

      + a {
        margin-left: .6rem;
      }

    }

  }

}
