.site-header {
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
  text-align: center;
  @media (min-width: 600px) {
    margin-bottom: $spacing-unit;
    text-align: right;
  }

  a {
    font-family: $header-font-family;
    font-size: $header-font-size;
    font-weight: $header-font-weight;
    line-height: 1;
    letter-spacing: -2px;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color;
    @media (min-width: 400px) {
      margin-right: 0;
      margin-left: $spacing-unit / 2;
    }
  }

  .home & {
    margin-top: $spacing-unit * 4;
    margin-bottom: $spacing-unit * 4;
  }

  .home & img {
    display: block;
    margin: 0 auto $spacing-unit / 2;
    padding: 0;
    border-radius: 50%;
  }

  .home & h1 {
    font-size: 48px;
    line-height: 1;
    letter-spacing: -2px;
    text-align: center;
    text-transform: uppercase;
    @media (min-width: 600px) {
      font-size: 96px;
    }
  }

}

.site-title {
  @media (min-width: 600px) {
    float: left;
  }

  a {
    border: 0;
  }

}
