.home {
  h2 {
    margin-top: 0;
  }
}

.home__articles {

  article {
    margin-bottom: $spacer;
  }

  a {
    font-family: $font-header;
    display: block;
    font-size: 1.17rem;
    font-weight: 600;
  }

}

.home__notes {

  article {
    margin-bottom: $spacer;
  }

  a {
    font-family: $font-header;
    display: block;
    font-size: .8rem;
    font-weight: 600;
  }

}
