.home h2 {
  border-bottom: 5px solid $primary-color;
}

.post-title {
  margin-bottom: $spacing-unit / 4;
}

.post-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}
