img {
  max-width: 100%;
  height: auto;
}

.pullright {
  display: block;
  margin: 0 auto 1.2em;
  @media (min-width: 50em) {
    float: right;
    margin: 0 0 1.2em 1.2em;
  }
  @media (min-width: 60em) {
    float: right;
    margin: 0 -3.2em 1.2em 1.2em;
  }
  @media (min-width: 70em) {
    float: right;
    margin: 0 -6.8em 1.2em 1.2em;
  }
  @media (min-width: 90em) {
    float: right;
    margin: 0 -13em 1.2em 1.2em;
  }
}

figure {
  display: flex;
  justify-content: center;
  margin: 1em auto 0;

  &.caption  {
    flex-direction: column;
    align-items: center;
  }

  .flex {
    display: flex;
  }

  img {
    margin-bottom: .6em;
  }

  a + a,
  img + img {
    margin-left: 1em;
  }

}

figcaption {
  width: 100%;
  margin: 0 1em;
  font-size: .7em;
  border-bottom: .05em solid $border-color;
}
