nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  .menu-item {
    display: inline-block;
    text-decoration: none;

    &:hover,
    &.active {
      color: $primary-color;
    }

  }

  .menu-item + .menu-item {
    margin-left: .5em;
    padding-left: .5em;
    border-left: $primary-color 1px solid;
  }

}
