.newsletter {
  display: flex;
  flex-wrap: wrap;

  input[type='email'] {
    margin-bottom: .5rem;
    width: 100%;
    @include breakpoint(sm) {
      margin-bottom: 0;
      width: initial;
    }
  }

  label {
    margin-bottom: 1em; // em to match p tag in user agent stylesheet
    width: 100%;

    .page article & {
      margin-bottom: 1.75rem;
    }

  }

}

input[type='email'] {
  padding: 0 .3em;
  line-height: 1.65em;
  font-family: $font-body;
  font-size: 1em;
}

input[type='submit'],
button[type='submit'] {
  cursor: pointer;
  font-family: $font-body;
  font-size: 1rem;
  @include breakpoint(sm) {
    margin-left: .3rem;
  }
}

.newsletter .row article {
  position: relative;
  width: 100%;
  @media (min-width: 50em) {
    flex: 0 0 calc((100% - 32px) / 4);
    max-width: calc((100% - 32px) / 4);
  }
}
