.portfolio {

  .section .row {
    align-items: center;
    margin: 0 auto;
    max-width: 62.5rem;
    padding: 0 $spacer 5rem;
  }

  .section__title {
    margin: 0;
  }

  .section__image {
    @include breakpoint(lg) {
      margin: 0 3rem 0 0;
    }
  }

  .section__content {
    position: relative;
    width: 100%;
    @include breakpoint(lg) {
      flex: 1;
    }
  }

  .page__content {
    margin: 0 auto;
    max-width: 68rem;
  }

  .portfolio__image {
    position: relative;
    margin-bottom: 6rem;
    width: 100%;
    @include breakpoint(lg) {
      flex: 0 0 calc((100% - 5rem) / 2);
      max-width: calc((100% - 5rem) / 2);
    }

    svg {
      display: block;
    }

    img {
      box-shadow: 1.5rem 2.5rem 5rem .7rem rgba(0, 0, 0, .13);
    }

    .iframe-embed {
      margin-top: 2.5rem;
    }

  }

  .portfolio__text {
    position: relative;
    margin-bottom: 2.5rem;
    width: 100%;
    @include breakpoint(lg) {
      flex: 0 0 calc((100% - 5rem) / 2);
      margin-top: 2.5rem;
      max-width: calc((100% - 5rem) / 2);
    }
  }

}
