.portfolio {
  margin-bottom: 3em;
  text-align: center;
  @media (min-width: 672px) {
    text-align: left;
  }

  .entry-meta {
    background-color: #eee;
    padding: 12px;

    span {
      display: block;
      text-align: left;
    }

  }

}

.portfolio-item {
  margin-bottom: 2em;
  border-bottom: 1px solid #eee;
  padding-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
    border: 0;
    padding-bottom: 0;
  }

  a {
    border: 0;

    &:hover {
      color: $primary-color;
    }

  }

  .platform {
    font-size: .8em;
  }

}

.portfolio-image {
  display: flex;
  align-items: center;
  border: 0;
}
