$body-font-family: Lato, sans-serif;
$title-font-family: Montserrat, sans-serif;
$primary-color: #0a86bf;
$secondary-color: #07628c;

html {
  font-size: 1rem;
}

body {
  font-family: $body-font-family;
  color: #545e6c;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font-family;
  font-weight: 700;
}

.section-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
  text-transform: uppercase;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: $secondary-color;
  }

  &:focus {
    text-decoration: none;
  }

}

p {
  line-height: 1.42857143;
}

// Structure
.site-container {
  max-width: 78.125rem;
  margin: 0 auto;
  padding: 0;
  @media (min-width: 800px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 1.875rem;
  }
  @media (min-width: 1200px) {
    padding: 2.5rem;
  }
}

.main {
  display: block; // Fixes IE11 Bug
  padding: 1.875rem;
  background: #fff;
  @media (min-width: 800px) {
    float: left;
    padding: 3.75rem;
  }

  .section {
    margin-bottom: 3.75rem;
  }

  .experience {
    margin-bottom: 3.75rem;
  }

  .meta {
    position: relative;
  }

  // .upper-row {
  //   position: relative;
  //   margin-bottom: 0;
  //   overflow: hidden;
  //   @media (min-width: 800px) {
  //     margin-bottom: 2px;
  //   }
  // }

  .job-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #3f4650;
  }

  .time {
    position: static;
    display: block;
    margin-top: .313rem;
    color: #97aac3;
    @media (min-width: 1000px) {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
    }
  }

  .company {
    margin-top: .313rem;
    margin-bottom: .625rem;
    color: #97aac3;
    @media (min-width: 1000px) {
      margin-top: 0;
    }
  }

  .projects-section .intro {
    margin-bottom: 1.875rem;
  }

  .projects-section .item {
    margin-bottom: .938rem;
  }

}

.sidebar {
  color: #fff;
  background: $primary-color;
  @media (min-width: 800px) {
    flex: 0 0 18.75rem;
    order: 2;
  }
  @media (min-width: 1200px) {
    flex: 0 0 22.5rem;
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: #fff;
  }

  .profile-container {
    padding: 1.875rem;
    text-align: center;
    color: #fff;
    background: $secondary-color;
  }

  .profile-img {
    max-width: 200px;
    margin-bottom: .938rem;
    border: 0 solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }

  .name {
    margin-top: 0;
    margin-bottom: .625rem;
    font-size: 32px;
    font-weight: 700;
  }

  .tagline {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
  }

  .profile {
    margin-bottom: .938rem;
  }

  .contact-list .fa {
    margin-right: .313rem;
    font-size: 1.125rem;
    vertical-align: middle;
  }

  .contact-list li {
    margin-bottom: .938rem;
  }

  .contact-list li:last-child {
    margin-bottom: 0;
  }

  .contact-list .email .fa {
    font-size: .875rem;
  }

  .container-block {
    padding: 1.875rem;
  }

  .degree {
    margin-top: 0;
    margin-bottom: .313rem;
    font-size: .875rem;
  }

  .education-container .item {
    margin-bottom: .938rem;
  }

  .education-container .item:last-child {
    margin-bottom: 0;
  }

  .education-container .school {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
  }

  .education-container .time {
    margin-top: .313rem;
    margin-bottom: 0;
    font-family: $title-font-family;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
  }

  .languages-container .lang-desc {
    color: rgba(255, 255, 255, .6);
  }

  .languages-list {
    margin-bottom: 0;

    li {
      margin-bottom: .625rem;
    }

    li:last-child {
      margin-bottom: 0;
    }

  }

  .interests-list {
    margin-bottom: 0;

    li {
      margin-bottom: .625rem;
    }

    li:last-child {
      margin-bottom: 0;
    }

  }

}

.skillset .item {
  margin-bottom: .938rem;
  overflow: hidden;
}

.skillset .level-title {
  margin-top: 0;
  margin-bottom: .75rem;
  font-size: .875rem;
  @media (min-width: 1000px) {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
  }
}

.skillset .level-bar {
  height: 1.25rem;
  background: #ddd;
  @media (min-width: 1000px) {
    display: inline-block;
    width: 70%;
  }
}

.skillset .level-bar-inner {
  height: 1.25rem;
  padding-left: .625rem;
  color: #fff;
  background: $primary-color;
}

.download {
  padding-bottom: 2.5rem;
  text-align: center;
  background: #fff;
  @media (min-width: 800px) {
    background: inherit;
  }

  button {
    padding: .75rem .625rem;
    border: 0;
    outline: 0;
    font-family: $title-font-family;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: $primary-color;
  }

}
