table {
  margin-bottom: 2em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
}

tbody {
  border-bottom: .05em solid $border-color;
}

td,
th {
  text-align: left;
}

td {
  border-top: .05em solid $border-color;
  padding: .3em 0;
}

th {
  font-weight: 400;
}
