%row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  @extend %row; // in utilities.scss (above)
}

.one-half {
  position: relative;
  width: 100%;
  @include breakpoint(md) {
    flex: 0 0 calc((100% - 1rem) / 2);
    max-width: calc((100% - 1rem) / 2);
  }
}

.justify-content-start {
  justify-content: start !important;
}

.justify-content-center {
  justify-content: center !important;
}
