// font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$font-family: 'PT Serif', Georgia, 'Times New Roman', serif;
$font-family-code: 'Oxygen Mono', monospace;

$primary-color: #0a86bf;
