$font-stack: Georgia, 'Times New Roman', Times, serif;
$monospace-font-stack: 'Oxygen Mono', Menlo, Monaco, 'Courier New', monospace;
$primary-color: #165bbc;
$text-color: #454545;
$border-color: #ccc;
