---
layout: default
---

<section class="archive">

  <header class="entry-header">
    <h1>{{ page.title }} Archive</h1>
  </header>

  {% for post in page.posts %}
    {% unless post.exclude %}

      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% unless year == this_year %}
        {% assign year = this_year %}
        <p class="archive-year">{{ year }}</p>
      {% endunless %}

      <article>
        <div class="archive-date">{{ post.date | date: "%B %-d" }}</div>
        <p class="archive-title"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></p>
      </article>

    {% endunless %}
  {% endfor %}

</section>
