<!doctype html>
<html lang="en">

{% include head.html %}

<body>

  <header class="site-header">

    {% if page.url == '/' %}
      <h1 class="site-title"><a href="/">Brad West</a></h1>
    {% else %}
      <p class="site-title"><a href="/">Brad West</a></p>
    {% endif %}

    <nav>
      {% for link in site.data.navigation %}
        {% unless forloop.first %}/{% endunless %}<a href="{{ link.url | absolute_url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </header>

  <main>
    {{ content }}
  </main>

  <footer class="site-footer">
    <p class="copyright">All rights reserved &copy; {{ site.time | date: '%Y' }}</p>
    <p class="contact">brad@bradonomics.com</p>
  </footer>

</body>

</html>
