---
layout: default
---

<article>

  <header class="page__header">
    <h1>{{ page.title }}</h1>
    <div class="draft-notice">
      <p>Note: this document is a draft and may make no sense.</p>
      <p>I started working on this {{ page.date | date: '%B %-d, %Y' }}.</p>
      <p>The last time I updated it was {{ page.last_modified_at | date: '%B %-d, %Y' }}.</p>
    </div>
  </header>

  {{ content }}

  <footer>
    <p class="after-post-title">Questions / Comments</p>
    <p class="after-post">This document is still in draft. If you found the ideas interesting and want to discuss them, please get in touch.</p>
  </footer>

</article>
