---
layout: default
---

<article>

  <header class="page__header">
    <h1>{{ page.title }}</h1>
    {% if page.url == '/now/' %}<p>Updated: {{ page.last_modified_at | date: "%B %Y" }}</p>{% endif %}
  </header>

  {{ content }}

</article>
