---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/CreativeWork">

  <header class="entry-header">
    <h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
    <p class="entry-meta">
      {% if page.platform %}<span class="portfolio-platform">Platform: {{ page.platform }}</span>{% endif %}
      {% if page.designer_name %}<span class="portfolio-designer">Designer: <a href="{{ page.designer_url }}">{{ page.designer_name }}</a></span>{% endif %}
      {% if page.site_url %}<span class="portfolio-demo">Site URL: <a href="{{ page.site_url }}">{{ page.site_url }}</a></span>{% endif %}
      {% if page.demo_url %}<span class="portfolio-demo">Demo URL: <a href="{{ page.demo_url }}">{{ page.demo_url }}</a></span>{% endif %}
      {% if page.code_url %}<span class="portfolio-code">Code Repo: <a href="{{ page.code_url }}">{{ page.code_url }}</a></span>{% endif %}
    </p>
  </header>

  <div class="entry-content" itemprop="text">
    {{ content }}
  </div>

</article>


