---
layout: default
---

<article>

  <header class="entry-header">
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}

  <footer>

    <p class="entry-meta">Published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></p>

    <hr>

    <p class="after-post-title">Questions / Comments</p>
    <p class="after-post">If you found this article interesting, found errors, or just want to discuss the ideas herein, please get in touch.</p>

  </footer>

</article>
