---
layout: default
---

<article>

  <header class="entry-header">
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}

  <footer>

    <p class="entry-meta">Published: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></p>

    <hr>

    <p>Want updates in your inbox every month? Join me.</p>

    <form class="form newsletter justify-content-center" method="post" action="https://buttondown.email/api/emails/embed-subscribe/bradonomics">
      <label for="bd-email">Add your email address here:</label>
      <input type="email" name="email" id="bd-email" required>
      <input type="hidden" value="1" name="embed">
      <input type="hidden" name="tag" value="Thailand ETCetera">
      <input type="submit" value="Join Me">
    </form>

    <p>No charge. No spam. Unsubscribe anytime.</p>

  </footer>

</article>
