---
layout: default
---

<article>

  <header class="entry-header">
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}

  <footer>

    <p class="entry-meta">Published: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></p>

    <hr>

    <p>Want updates in your inbox every month? Join me.</p>

    <form class="form newsletter justify-content-center" method="POST" action="https://sibforms.com/serve/MUIEAAs9OBHC6X10yxZw9R6wSdmW5aUByLRGoovXWK1Ql40yNElhllQbtzi8SVH-pE512m6A2oq2664WvNCNbSCit-HVBnMMqnkYwEXd6nF0xBgJhD0uTZ_TVHY94K7yHU0z_Wc75bEQRNvaVFcDLRqbfFjtOUrws0lcv9QHXAuBwRJOre59MRWOTjSn8FUVpIGg95BsPQkziN0x">
      <input type="email" name="EMAIL" placeholder="Email Address" required>
      <input type="submit" value="Join Me" name="subscribe">
    </form>

    <p>No charge. No spam. Unsubscribe anytime.</p>

  </footer>

</article>
